# NASA API (получить на https://api.nasa.gov)
NASA_API_KEY=DEMO_KEY

# The Space Devs (бесплатно, без ключа, но лучше зарегистрироваться)
SPACE_DEVS_BASE_URL=https://ll.thespacedevs.com/2.3.0

# NextAuth
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
AUTH_GITHUB_ID=your-github-client-id
AUTH_GITHUB_SECRET=your-github-client-secret

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key